@media screen and (max-width:1074px) {
	.footer-menu li a,
	.copyright {
		font-size: 13px;
	}
}

@media screen and (max-width:971px) {
	.footer-menu li a,
	.copyright {
		font-size: 12px;
	}
}

@media screen and (max-width:900px) {

	/* For tablets: */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100% !important;}

	header {
		height: 180px;
		text-align: center;
	}

	.banner {
		background-position: 35%;
	}

	.banner p {
		text-align: center;
		font-size: 27px;
		padding: 0px 150px;
		line-height: 32px;
		margin: 5% auto;
	}

	.news-image {
		text-align: center;
	}

	.copyright {
		display: block;
	}

	footer .col-12 {
		height: 110px;
	}

	.footer-menu {
		text-align: center;
	}
}

@media screen and (max-width:800px) {
	nav ul li {
		padding: 10px;
	}

	.banner p {
		font-size: 27px;
		padding: 0px 70px;
	}

}

@media screen and (max-width:450px) {

	/*For mobile: */
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}

	header {
		height: 236px;
	}

	nav ul li {
		display: block;
		text-align: left;
		border: 1px solid #ccc;
	}

	header .col-m-12,
	header .col-12,
	header ul {
		padding: 0;
	}

	header ul {
		background-color: #eee;
	}

	.banner {
		height: 280px;
		padding: 5px;
	}

	.banner p {
		background-color: #39c2d7;
		text-align: left;
		font-size: 19.5px;
		padding: 5px;
		line-height: 25px;
		position: relative;
		top: 160px;
	}

	footer .col-12 {
		background-color: #39c2d7;
		height: 170px;
	}

	.footer-menu li {
		display: block;
		padding: 10px 9px 10px;
	}

	.footer-menu li:nth-child(2) a {
		text-decoration: underline;
	}
}